*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
.my-order{
    display: flex;
    justify-content: center;
}

.my-order-container-time{
    width: 400px;
    height: 100px;
    padding: 12px;
    font-size: 19px;
    display: flex;
    border: 1px solid #ccc8c8 ;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}
.my-order-container-time p:nth-child(1){
    font-weight: bold;
    margin-bottom: 5px;
}
.my-order-container-time p:nth-child(2){
    color: gray;
}
.product{
    width: 400px;
    display: flex;
    align-items: center;
}

.product div img{
    height: 100%;
    width: 100%;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.div{
    width: 70%;
}

.p{
    color: gray;
    font-weight: bold;
}

@media (max-width: 640px) {
    .my-order-container-time{
        width: 320px;
        padding: 7px;
    }
    .product{
        width: 320px;
    }
    .product div:nth-child(1){
        width: 70px;
    }
    .div p:nth-child(2){
        display: none;
        width: 400px;
    }
}