*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
.cards-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    place-content: center;
}
.product{
    border-radius: 15px;
}
.product-info p:nth-child(1){
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;    
}
.product-info p:nth-child(2){
    font-weight: bold;
    color: rgba(77, 75, 75, 0.678);
    margin-bottom: 5px;    
    margin-left: 4px;
}
.info{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

